{% set fieldParts = f.fieldType.prepValueFromPost(null).attributes|keys %}

{% for part in fieldParts %}
	{% set optionHandle = f.handle ~ '[' ~ part ~ ']' %}
	{% set optionLabel  = f.name ~ ' (' ~ part ~ ')' %}
	{% set match = (column|lower in [optionLabel|lower, part|lower] ) %}
	<option value="{{ optionHandle }}" {{ match ? 'selected' }}>{{ optionLabel }}</option>
{% endfor %}
