{% set fieldParts = f.fieldType.prepValueFromPost(null).attributes|keys %}

    {% for part in fieldParts %}
        {% set value = f.handle ~ '[' ~ part ~ ']' %}
        {% set label = f.name ~ ' — ' ~ part|replace('/([A-Z|0-9])/', ' \\1')|title %}
        <option value="{{ value }}" {{ (column == part) ? 'selected' }}>{{ label }}</option>
    {% endfor %}
