/*
 *  Styles for VZ Address fieldtype
 *  by Eli Van Zoeren - http://elivz.com
 */

 .vzaddress-wrapper {
    position: relative;
    display: table;
    width: 100%;
 }

.vzaddress-fields {
    display: table-cell;
    width: 60%;
    max-width: 450px;
    padding-right: 1.5em;
}

.vzaddress-field {
    padding-bottom: 0.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vzaddress-field label {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    clip: rect(0 0 0 0);
}

.vzaddress-region,
.vzaddress-postalCode {
    float: left;
    width: 50%;
    padding-left: 0.25em;
}
.vzaddress-region {
    padding-left: 0;
    padding-right: 0.375em;
}

.vzaddress-country {
    clear: both;
    padding-bottom: 0;
}
.vzaddress-country .select {
    display: block;
}
.vzaddress-country select {
    width: 100%;
}

.vzaddress-map {
    display: table-cell;
    width: 40%;
    height: 100%;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px -2px rgba(0, 0, 0, 0.1);
}

/* Spcial styling for wide screens */

.narrow .vzaddress-fields {
    display: block;
    width: 100%;
    padding: 0;
}

.narrow .vzaddress-map {
    display: none;
}


