/*
 *  Styles for VZ Address fieldtype
 *  by Eli Van Zoeren - http://elivz.com
 */

.vzaddress-wrapper {
    display: table;
    width: 100%;
}

.vzaddress-field {
    padding-bottom: 0.75em;
}
.vzaddress-field:last-of-type {
    clear: both;
    padding-bottom: 0;
}

.vzaddress-field label {
    position: absolute;
    left: -9999px;
    clip: rect(0 0 0 0);
}

.vzaddress-region,
.vzaddress-postalCode {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vzaddress-postalCode {
    padding-left: 0.375em;
}
.vzaddress-region {
    padding-right: 0.375em;
}

.vzaddress-country .select {
    display: block;
}
.vzaddress-country select {
    width: 100%;
}

.vzaddress-map {
    display: none;
    width: 40%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.1);
}

/* Special styling for wide screens */

.has-map .vzaddress-fields {
    display: table-cell;
    width: 60%;
    padding-right: 1.5em;
}

.has-map .vzaddress-map {
    display: table-cell;
}

